<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    

    <!--<add  name="DefaultDb"
      connectionString="Data Source=127.0.0.1;Initial Catalog=zhuangdb;Persist Security Info=True;User ID=sa; PassWord=zwb"
      providerName="sqlserver"/>-->


    <add name="DefaultDb" connectionString="Data Source=10.201.76.239;Database=dev_datacenter;User ID=root;Password=pass@word1" providerName="MySql.Data.MySqlClient"/>

  </connectionStrings>

  <appSettings>

    <add key="Zhuang.DataCollector.IIS.LogDirs" value="C:\inetpub\logs\LogFiles;\\10.201.76.223\AdvancedLogs:administrator gmcc2011!"/>
    
  </appSettings>
</configuration>