<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    

    <!--<add  name="DefaultDb"
      connectionString="Data Source=127.0.0.1;Initial Catalog=zhuangdb;Persist Security Info=True;User ID=sa; PassWord=zwb"
      providerName="sqlserver"/>-->
    

    <add name="DefaultDb" connectionString="Data Source=10.201.76.239;Database=dev_datacenter;User ID=root;Password=pass@word1" providerName="MySql.Data.MySqlClient"/>

  </connectionStrings>

  <appSettings>

    <!--IIS日志收集路径，多个路径用“;”分隔，若是共享文件路径必须填写登录帐号和密码，格式为：{共享文件路径}:{帐号} {密码}，
    示例配置如：C:\inetpub\logs\LogFiles;\\10.201.76.223\AdvancedLogs:administrator 123-->
    <add key="Zhuang.DataCollector.IIS.LogDirs" value="C:\inetpub\logs\LogFiles;\\10.201.76.223\AdvancedLogs:administrator gmcc2011!"/>

  </appSettings>
</configuration>